body{
	background-image:url("../background.jpg");
}
nav{
	background-image:url("../navbg.jpg");
}
body{
	background-color: skyblue;
}
h1{
	font: "Calibri";
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

table{
	font-family: times;
	font-weight: bold;
}

.container{
	border: solid 3px #3b5998;
	background-color: skyblue;
	padding: 25px;
}

.kontak{
	font: times;
	background-color: skyblue;
	padding: 25px;
	border: solid 3px #3b5998;
}